body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  input[type=number] {
    font-size: calc(10px + 2vmin);
    width: 4em;
  }

  input[type=text] {
    font-size: calc(10px + 2vmin);
    width: 4em;
  }

  button {
    font-size: calc(10px + 2vmin);
  }
  
  textarea {
    font-size: calc(10px + 2vmin);
  }
  
  .ContractInfo {
    font-size: calc(10px + 1vmin);
    text-align: left;
    width: 90vw;
    height: 7em;
    padding: 2vw;
    overflow-x: scroll;
    white-space: pre;
  }

  label {
    text-align: right;
    width: 500px;
    line-height: 26px;
    margin-bottom: 10px;
    clear:left;
    float:left;
  }

  input {
  float:left;
  margin-left: 10px;
  }

  .DeployButton {
    line-height: 30px;
    margin-top: 15px;
    margin-left: 275px;
    margin-bottom: 10px;
    clear:left;
    float:left;
  }

  .Unit {
    margin-left:710px;
    margin-top:75px;
    }

    .Caution {
      color: red;
      }